@import url("https://fonts.googleapis.com/css2?family=Faktum:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #f79e1c;
  border-radius: 16px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #303030;
}

.test-gradient:hover {
  background: radial-gradient(#3c2c16, #181818);
  background-size: 120% 500%;
}

.progress-bar-gradient {
  background: radial-gradient(
      105.78% 237.28% at 0% 254.53%,
      #eb0e00 40%,
      rgba(255, 95, 0, 0) 100%
    ),
    #f79e1b;
}

.active-tab-gradient {
  background: radial-gradient(
      80.78% 237.28% at 0% 244.53%,
      #eb0e00 20%,
      rgba(255, 95, 0, 0) 100%
    ),
    #f79e1b;
}
